*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
    background-color: #212121;
}
main{
    background-color: white;
    border-radius: 0.4rem;
    padding: 1rem;
    width: 70%;
    form{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;

        h2{
           font-family: Arial, Helvetica, sans-serif; 
           font-size: 0.9rem;
        }

        input{
            padding: 0.5rem;
            outline: none;
            text-transform: lowercase;
            width: 100%;
        }
        button{
            margin-top: 0.4rem;
            width: 100%;
            padding: 0.6rem;
            background-color: black;
            border: none;
            color: white;
            font-weight: 700;
            border-radius: 0.3rem;
        }
    }
    .dash{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        p{
            font-family: fantasy;
        }
        .top{
            width: 45%;
            height: 0.1rem;
            background-color: gray;
        }
        .bottom{
            width: 45%;
            height: 0.1rem;
            background-color: gray;
        }
    }
}
